{% extends "socialaccount/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
<div class="sign section--bg" data-bg="{% static 'img/section/section.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sign__content">
{% if process == "connect" %}

<h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

<p class="sign__text">{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<form class="sign__form" method="post">
    {% csrf_token %}
    
  

<h1 class="sign__text"><b>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</b></h1>

<p class="sign__text">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
<button class="sign__btn" type="submit">{% trans "Continue" %}</button>
</form>
{% endif %}


</div>
</div>
</div>
</div>
</div>
{% endblock %}