{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
  <div class="tr_logo">
  <a href="{% url 'list_item' %}" style="text-decoration: none">
  <p id="tr_head">The United Republic of Tanzania
  </p>
   <!--  <p id="tr_head">Ministry Of Construction</p>   -->
  <p id="tr_tail">ICT-UNIT INVENTORY SYSTEM</p>
  </a>
</div>
<div class="cotainerlogout">


<form method="post" action="{% url 'account_logout' %}" class="logout">
	<h1><strong>{% trans "Logout Out" %}</strong></h1>

<p>{% trans 'Are you sure you want to logout out?' %}</p>
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button type="submit" class="btn btn-dark">{% trans 'Logout' %}</button>
</form>
</div>


{% endblock %}
