{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
 <div class="tr_logo">
  <a href="{% url 'list_item' %}" style="text-decoration: none">
  <p id="tr_head" style="font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 19px;
    word-spacing: 3px;
    font-weight: bolder;
    margin-left: 69px;
    color: #000;
    margin-bottom: 3px;
    padding-top: 10px;">The United Republic of Tanzania
  </p>
   <!--  <p id="tr_head">Ministry Of Construction</p>   -->
  <p id="tr_tail" style="font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: #2d4a84;
    margin-top: 10px;">ICT-UNIT INVENTORY SYSTEM</p>
  </a>
</div>
   <!--  <h1>{% trans "Password Reset" %}</h1> -->
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

   <!--  <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p> -->

    <form class="mycustom" method="POST" action="{% url 'account_reset_password' %}">
        <h1><strong><b>{% trans "Password Reset" %}</b></strong></h1>
         <p class="message">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-dark">{% trans 'Reset My Password' %}</button>
        <!-- <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-dark" /> -->
        <p class="message">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </form>

    <!-- <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p> -->
{% endblock content %}
