{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
<div class="mycustom"><strong><h1><b>{% trans "Verify Your E-mail Address" %}</b></h1></strong></b>
    

    <p class="message" style="text-decoration-color: #0000FF">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
 </div>   

{% endblock %}
